{% extends 'home/base_menu.html' %}

{% block content %}
  <h1>Steps List</h1>
  {% if cookingStep_list %}
  <ul>
    {% for cstep in cookingStep_list %}
      <li>
        {{ cstep.id }} {{ cstep.recipe }} {{ cstep.step_number }} {{ cstep.step }}
        (<a href="{% url 'recipebook:cookingStep_update' rp cstep.id %}">Update</a> | 
        <a href="{% url 'recipebook:cookingStep_delete' rp cstep.id %}">Delete</a>)
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no steps in the library.</p>
  {% endif %}
    <p><a href="{% url 'recipebook:cookingStep_create' rp 'choice' %}">Add a step</a></p>
    <p><a href="{% url 'recipebook:recipe_list' %}">Back to recipes</a></p>
{% endblock %}