<!doctype html>
{% extends 'home/base_menu.html' %}
<html lang="en">
{% block welcome %}
<h1>Cooking mode List</h1>
{% endblock %}
{% block content %}
<body>
  {% if object_list  %}
  <ul>
    {% for ingredient in object_list  %}
      <li>
        <a type="button" class="btn btn-light" href=""> {{ ingredient.ingredient }} </a>
        <div id="button-list" class="btn-group" role="group" aria-label="Basic">
          <a type="button" class="btn btn-primary" href="{% url 'recipebook:ingredient_update' ingredient.id %}">Update</a>
          <a type="button" class="btn btn-primary" href="{% url 'recipebook:ingredient_delete' ingredient.id %}">Delete</a> 
        </div>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no ingredient in the library.</p>
  {% endif %}
  <a type="button" class="btn btn-outline-primary" href="{% url 'recipebook:ingredient_create' %}">Add a ingredient</a>
  <a type="button" class="btn btn-outline-primary" href="{% url 'recipebook:recipe_list' %}">Back to recipe list</a>
</body>
{% endblock %}
</html>