{% extends 'home/base_menu.html' %}

{% block content %}
  <h1>Cooking mode List</h1>
  {% if object_list  %}
  <ul>
    {% for ingredient in object_list  %}
      <li>
          {{ ingredient.ingredient }}
          (<a href="{% url 'recipebook:ingredient_update' ingredient.id %}">Update</a> |
          <a href="{% url 'recipebook:ingredient_delete' ingredient.id %}">Delete</a>)
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no ingredient in the library.</p>
  {% endif %}
  <p><a href="{% url 'recipebook:ingredient_create' %}">Add a ingredient</a></p>
  <p>
    <a href="{% url 'recipebook:recipe_list' %}">Back to recipe list</a>
  </p>
{% endblock %}